body {
	background-color: white;
	/* background-image:url('oyosbtn_466x621.jpg'); */
	background-position:center; 
	background-repeat:no-repeat;
	/* margin: 20px; */
	/* padding: 20px; */
	box-sizing: border-box;
	text-align: center;
}

img {
  vertical-align:text-middle;
}

h1{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 50px;
	font-weight: bolder;
	color: #2d402b;
	text-align: center;
	letter-spacing: .1em;
	margin-top: 1em; 
	/* opacity:0; */
}

.frame{
  position:absolute;
  left:50%;
  top:50%;
  width:calc(100% - 20px);
  height:calc(100vh - 20px);
	background:white;
	background-image:url('oyosbtn_466x621.jpg');
	background-position:center; 
	background-repeat:no-repeat;
	box-sizing: border-box;
  border:20px dotted gold;
}